.App {
  height: 946px;
  width: fit-content;
  padding-top: 25px;
  background-color: #4B65C5;
  font-family: "Onest", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ttTravels";
  src: url("./TT\ Travels\ Trial\ ExtraBold.ttf");
  font-weight: 800;
  }