.showPet {
    display: none;
}

.showBreed {
    display: none;
}

.dropdown {
    width: auto;
    height: 291px;
    display: flex;
    justify-content: center;
}

.dropdownArea {
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    column-gap: 30px;
    height: 100%;
    width: 803px;
    margin-top: 13px;
}

.petDropdown {
    grid-column: 1 / 5;
    width: 223px;
    height: 196px;
    background-color: rgba(60, 57, 160, 1);
    border-radius: 16px;
}


.petInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 15px 0 15px;
    height: 100%;
    box-sizing: border-box;
}

.searchInput {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
	-moz-appearance: none;
}

/* Do we really need search icon in search field?.. */

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input {
    padding-left: 16px;
    padding-right: 10px;
    color: rgba(22, 26, 35, 1);
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: 166px 10px;
    background-image: url(./assets/Group.png);
    background-size: 16px;
}

input::placeholder {
    font-size: 14px;
    color: rgba(22, 26, 35, .5);
}

.noMatch {
    background-color: rgba(250, 215, 207, 1);
    height: 35px;
}

.noMatchSection {
    display: flex;
    flex-direction: column;
    width: 184px;
    padding-left: 16px;
    padding-top: 15px;
    gap: 3px;
}

.noMatchSection p {
    margin: 0;
    padding: 0;
    font-family: "Onest", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
}

.searchOuter img {
    width: 16px;
    height: 16px;
}

.searchableList {
    position: relative;
    width: 223px;
    height: 148px;
    border-radius: 0 0 16px 16px;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

.noMatchList {
    height: auto;
}


.breedDropdown {
    grid-column: 5 / 10;
    width: 223px;
    height: 196px;
    background-color: rgba(60, 57, 160, 1);
    border-radius: 16px;
    position: relative;
    left: -30px;
}

.reducedDropdown {
    height: 129px;
}

.toTop {
    position: relative;
    top: 5px;
}