.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: repeat(2, 1fr [row-start]);
    column-gap: 30px;
    margin: 0 25px 0 25px;
    height: 110px;
}

.topHeader {
    grid-column: 1/-1;
    grid-row: span 1;
}

.bottomHeader {
    grid-column: 1/-1;
    grid-row: span 2;
    background-color: #FFFFFF;
    border-radius: 90px;
}