.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
    grid-template-rows: repeat(2, 1fr [row-start]);
    column-gap: 30px;
    margin: 0 25px 0 25px;
    background-color: rgb(189, 137, 69);
    color: black;
    height: 110px;
}