.searchBar {
    position: absolute;
    height: 96px;
    width: 803px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 600px;
    bottom: 0px;
}

.searchSections {
    position: relative;
    display: flex;
    height: 96px;
}

.searchPet {
    position: absolute;
    width: 234px;
    height: 94px;
    border-radius: 90px;
    border: solid 1px rgba(122, 94, 236, 0.11);
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.searchPet:hover {
    background-color: rgba(209, 234, 183, 1);
    z-index: 1;
}

.searchBreed {
    position: absolute;
    width: 500px;
    height: 96px;
    border-radius: 90px;
    border-right: solid 1px rgba(122, 94, 236, 0.11);
    background-color: rgb(255, 255, 255);
    z-index: 0;
}

.searchBreed:hover {
    background-color: rgba(209, 234, 183, 1);
    z-index: 0;
}


.searchButton {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 170px;
    height: 80px;
    border-radius: 90px;
    margin-right: 10px;
}

.searchButton a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 80px;
    text-decoration: none;
    border-radius: 90px;
    background-color: rgba(255, 72, 32, 1);
}

.searchButton a p {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
}